* {
    margin: 0;
    padding: 0;
}

nav {
    position: relative;
}

ul {

    display: flex;
    justify-content: center;
    gap: 10px;
    background-color: black;

}


li {
    /* Inline-block allows <a> link take up whole box */
    display: inline-block; 
    list-style-type: none;
} 

li:hover {
    box-shadow: 0px 0px 10px rgb(151, 145, 145);
}

li.nav-left {

    position: relative;
    right: 350px;

}

li.nav-right {

    position: relative;
    left: 350px;
    
}

a {

    /* Block display allows <a> hyperlink to take up whole li box */
    display: block;
    padding: 10px;
    color:white;
}

a:link {
    text-decoration: none;
    opacity: 60%;
}


a:hover {
    text-decoration: underline;
    opacity: 100%;
}

